* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

button {
  cursor: pointer;
  overflow-wrap: anywhere;
  border: 0;
  border-radius: 5px;
  padding: 5px;

  &:hover {
    opacity: 0.85;
  }
}

form {
  display: flex;
  flex-direction: column;
}

h2,
h3 {
  font-weight: normal;
}

svg {
  width: 24px;
  height: 24px;
  display: flex;
}

.hide {
  display: none !important;
}

.btn-primary {
  background-color: #3b82f6;
  color: white;
  transition: 0.3s;
}
