.resume {
  display: flex;
  align-items: center;
  flex-direction: column;

  border: 2px solid #ddd;
  min-width: 50%;
  min-height: 75%;
  padding: 1.5rem;
  margin: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  .section {
    width: 100%;
    padding: 0.5rem;

    .heading {
      border-bottom: 2px solid #ddd;
      text-transform: uppercase;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .content-container {
      padding-top: 0.25rem;
      display: flex;
      flex-direction: column;
      gap: 15px;

      .item {
        display: flex;
        justify-content: space-between;

        .main-info {
          overflow-wrap: anywhere;

          span {
            font-size: 1rem;
          }
        }

        .side-info {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          margin-left: auto;
          padding-right: 10px;
          overflow-wrap: anywhere;
        }

        .options {
          button {
            display: flex;
          }
        }
      }

      ul {
        display: flex;
        flex-direction: column;

        .item {
          flex-wrap: wrap;
        }
      }

      form {
        input,
        textarea {
          width: 100%;
        }

        label {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}
